@model IEnumerable<OBarbeiro.Comum.Modelos.RetornoPesquisaEmpresasViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-7">
        <h3 style="text-align: center">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-buildings" viewBox="0 0 18 18">
                <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z" />
                <path d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z" />
            </svg>Lista de barbearias
        </h3>
    </div>
</div>



<table class="table" id="minhaTabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayName("Nome da barbearia")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeBarbearia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>

                <td class="row-cols-md-12">
                    @Html.ActionLink("Visualizar","Details", "Empresa", new { email=item.Email  }, new {@class = "btn btn-outline-primary m-1"})
                </td>
            </tr>
        }
    </tbody>
</table>


<h1>Lista de Itens</h1>
<ul>
    @foreach (var items in Model)
    {

    }
</ul>


<div class="row actions justify-content-start">
    <div class="col-md-4 m-0">
        <div class="form-group">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-dark">Voltar</a>
        </div>
    </div>
</div>
