@using System.Security.Claims;
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OBarbeiro</title>
    <link rel="stylesheet" href="~/OBarbeiro.WEB.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/datatables.net-bs5/datatables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
    @*<link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-5 mt-0">
            <div class="container-fluid" style="background-color: darkblue;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/barberShop2.jpg" alt="logo" class="logo" style="width:150px; height: 75px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" oncontextmenu="ocultarMenu()">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        </li>

                        @if (User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).FirstOrDefault() == null)
                        {
                            <li class="menu nav-item text-end">
                                <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Index">Entrar</a>
                            </li>

                        }

                        @if (User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).FirstOrDefault() == "cliente")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Agendamento" asp-action="Index">Agendamentos</a>
                            </li>
                        }

                        @if (User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).FirstOrDefault() == "admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Cadastro" asp-action="Index">Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Servico" asp-action="Index">Empresas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Profissional" asp-action="Index">Profissional</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Servico" asp-action="Index">Serviços</a>
                            </li>
                        }

                        @if (User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).FirstOrDefault() == "empresa")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Agendamento" asp-action="Index">Agendamentos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Profissional" asp-action="Index">Profissional</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Servico" asp-action="Index">Serviços</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

  @*  <div class="alert alert-success alert-dismissible fade show" id="alertaSucesso">
        <strong>Successo!</strong> @TempData["sucesso"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" id="alertaErro">
        <strong>Erro!</strong> @TempData["erro"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>*@


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white" style="background-color: darkblue;">
        <div class="container">
            &copy; @DateTime.Now.Year - OBarbeiro
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables.net/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/datatables.bootstrap5.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        $(function () {
            //document.getElementById('alertaErro').style.display = 'none';
            //document.getElementById('alertaSucesso').style.display = 'none';

            if ("@TempData["sucesso"]") {
                //document.getElementById('alertaSucesso').style.display = 'block';
                toastr.success("@TempData["sucesso"]")
            }
            else if ("@TempData["erro"]") {
                //document.getElementById('alertaErro').style.display = 'block';
                toastr.error("@TempData["erro"]")

            };
        });
    </script>

</body>
</html>
